.pageTitle {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  width: fit-content;
  position: relative;
  text-wrap: nowrap;
  user-select: none;
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 30%;
    height: 3px;
    background-color: var(--primaryColor);
    transition: var(--transition);
  }

  &:hover::after {
    width: 80%;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 80%;
    height: 3px;
    background-color: var(--lightDarkBg);
  }

  @media screen and (max-width: 768px) {
    font-size: 25px;
  }
}
