/* .navBar .navBar__item {
  color: var(--fontColor);
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
  font-weight: bold;
  transition: var(--transition);
}
.navBar .navBar__item.active,
.navBar .navBar__item:hover {
  background-color: var(--primaryColor);
  color: white;
} */
